body {
  background-color: #efefef;
  color: rgb(27, 27, 154);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(90vh - 128px);
}
